<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>power.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>CB8A1A9043D34A2D779C4B545FD0657B8DCDB8B4</string>
				<key>dateExpires</key>
				<string>2021/7/1</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>8Q3L7W49A6.com.wiz.powerKs</string>
				<key>com.apple.developer.team-identifier</key>
				<string>8Q3L7W49A6</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>power.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>5d125954-cb5b-4661-ae91-76a94de95897</string>
				<key>name</key>
				<string>wiz app certificate</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>8Q3L7W49A6</string>
				<key>name</key>
				<string>Jiangsu New Wizpower Technology Co., Ltd</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
