<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://qdcu01.baidupcs.com/file/29db43065fd5922aed19543921771717?bkt=p3-00006aeccdfd6e599144963c45c3a0d63156&fid=2249052202-250528-228954455809499&time=1533656458&sign=FDTAXGERLQBHSK-DCb740ccc5511e5e8fedcff06b081203-dzCZQxRuzLYND4gdj36QWVd0ZJU%3D&to=65&size=8697823&sta_dx=8697823&sta_cs=1&sta_ft=ipa&sta_ct=0&sta_mt=0&fm2=MH%2CQingdao%2CAnywhere%2C%2Cjiangsu%2Cct&resv0=cdnback&resv1=0&vuk=282335&iv=-2&newver=1&newfm=1&secfm=1&flow_ver=3&pkey=00006aeccdfd6e599144963c45c3a0d63156&sl=82640974&expires=8h&rt=sh&r=645628873&mlogid=467235871501601103&vbdid=1904962458&fin=kssg.ipa&rtype=1&dp-logid=467235871501601103&dp-callid=0.1.1&hps=1&tsl=50&csl=78&csign=0vnYzTYv2VV%2Ff%2FRkrbacf8q2JPs%3D&so=0&ut=8&uter=4&serv=0&uc=1312949112&ic=3582363931&ti=26fa64dbec288224107d86fa7053a973e266c10c2003318e305a5e1275657320&by=themis</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://raw.githubusercontent.com/zoujia00010/ppp/master/test.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://raw.githubusercontent.com/zoujia00010/ppp/master/test.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.wiz.powerKs</string>
				<key>bundle-version</key>
				<string>1.0.1</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>power</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
